.cantainer{
    background-color: rgb(160, 168, 175);
}

.picture_change{
    max-width: 100%;
    background-color: lightslategrey;
   padding-top: 10px;
   padding-bottom: 10px;
   padding-left: 100px;
   

}

.mySlides {
    display:none;
    
}

h2 span.spacer {
    
    padding:0 5px;
 }

 .about_website{
     margin-top: 200px;
     background-color: lightyellow;
 }

 .col-xs-12, .col-md-8{
     float: left;
     display: flex;
     flex-direction: column;
    
     background-color: lavender;
 }
 .col-xs-6,.col-md-4{
    float: left;
    display: flex;
    flex-direction: column;
    height: 500px;
 }

 .about_website{
     height: 500px;
 }

 .head_about{
    height: 40px; 
    margin-top: 20px;
    padding-left: 20px;
    padding-top: 5px;
    background-color:rgb(192, 192, 248) ;
    font-family: -apple-system, BlinkMacSystemFont, 'Segoe UI', Roboto, Oxygen, Ubuntu, Cantarell, 'Open Sans', 'Helvetica Neue', sans-serif;
    font-weight: bold;
    font-size: 20px;
    box-shadow: 5px 10px 8px rgb(136, 162, 240);

    
    
 }
 .include_about{
     height:170px;
 }

 .how_do{
     max-width: 100%;
     background-color: rgb(150, 204, 201);
     height: 300px;
     margin-top: 20px;
     padding-top: 10px;
    
     
 }

 .how_do_head{
     background-color: rgb(80, 133, 130);
    padding-left: 20px;
     height: 40px;
     margin-left: 10px;
     margin-right: 20px;
     margin-top: 10px;
     padding-top: 5px;
     box-shadow: rgb(35, 66, 65) 5px 10px 18px;
    color: rgb(255, 255, 255);
 }

 .how_do_about{
    height: 100px;
}
.cont1{
    margin-left: 60px;
    margin-right: 60px;
    margin-top: 70px;
}


 .how_start{
     margin-top: 20px;
     max-width: 100%;
     height: 500px;
     background-color: lightyellow;
     margin-bottom: 20px;
     

 }

 
 .how_start_pic{
     width: 400px;
     height: 500px;
     float: left;
     display: flex;
     flex-direction: column;
 }

 .about_how_start{
     width: 650px;
     height: 500px;
     float: left;
     display: flex;
     flex-direction: column;
     margin-left: 40px;
    background-color: rgb(255, 211, 144);
    
 }

 .how_start_title{
     margin-top: 20px;
     box-shadow: rgb(211, 146, 49) 5px 10px 18px ;
     background-color:  rgb(207, 164, 100);
     margin-left: 20px;
     margin-right: 20px;
     padding-left: 20px;
     padding-top: 5px;
     padding-bottom: 5px;
     color: rgb(78, 52, 49);
 }

 .include_how_start{
     height: 100px;
 }

 .world_book{
     max-width: 100%;
     height: 500px;
     background-color: rgb(240, 168, 160);
     padding-top: 20px;
     margin-bottom: 20px;
 }

 .world_book_head{
     margin-top: 20px;
     margin-right: 20px;
     margin-left: 20px;
     padding-top: 5px;
     padding-bottom: 5px;
     padding-left:20px ;
     background-color: rgb(185, 97, 88);
    box-shadow: salmon 5px 10px 18px;
 }

 .top_book{
     background-color: rgb(248, 220, 200);
     margin-top: 40px;
     margin-left: 60px;
     margin-right: 60px;
     padding-top: 20px;
     
 }

 .top_book_head{
    margin-top: 20px;
    margin-right: 20px;
    margin-left: 20px;
    padding-top: 5px;
    padding-bottom: 5px;
    padding-left:20px ;
    background-color: rgb(184, 79, 68);
   box-shadow: rgb(155, 80, 71) 5px 10px 18px;
 }

 .top_book_contain{
    margin-top: 20px;
    margin-right: 20px;
    margin-left: 20px;
    padding-top: 5px;
    padding-bottom: 5px;
    padding-left:20px ;
    background-color: rgb(184, 79, 68);
   box-shadow: rgb(155, 80, 71) 5px 10px 18px;
   float: left;
   display: flex;
   flex-direction: column;

 }

 .top_book_list{
     
 }

