.cantainer{
    background-color: rgb(160, 168, 175);
}

.picture_change{
    max-width: 100%;
    background-color: lightslategrey;
   padding-top: 10px;
   padding-bottom: 10px;
   padding-left: 250px;

}

.mySlides {
    display:none;
    
}

h2 span.spacer {
    padding:0 5px;
 }

 .about_website{
     margin-top: 200px;
     background-color: lightyellow;
 }

 .col-xs-12, .col-md-8{
     float: left;
     display: flex;
     flex-direction: column;
    
     background-color: lavender;
 }
 .col-xs-6,.col-md-4{
    float: left;
    display: flex;
    flex-direction: column;
    height: 500px;
 }

 .about_website{
     height: 500px;
 }

 .head_about{
    height: 20px;
    padding-top: 20px;
 }
 .include_about{
     height:200px;
 }

 .how_do{
     max-width: 100%;
     background-color: rgb(150, 204, 201);
     height: 100px;
     margin-top: 20px;
     
 }

