.cantainer{
    background-color: rgb(160, 168, 175);
}

.picture_change{
    max-width: 100%;
    background-color: lightslategrey;
   padding-top: 10px;
   padding-bottom: 10px;

}

.mySlides {
    display:none;
    
}

h2 span.spacer {
    padding:0 5px;
 }

 .about_website{
     margin-top: 200px;
     background-color: lightyellow;
 }

 .col-xs-12, .col-md-8{
     float: left;
     display: flex;
     flex-direction: column;
     height: 200px;
     background-color: lavender;
 }
 .col-xs-6,.col-md-4{
    float: left;
    display: flex;
    flex-direction: column;
    height: 500px;
 }

 .head_about{

 }

 .mission_about{
    background-color: lightgoldenrodyellow;
    height: 500px;
 }