@charset "utf-8";
/*CSS Document */
body{
    margin:0px;
    padding: 0px;
    background-color: gray;
}
ul{
    list-style: none;
}

a{
    text-decoration: none;
}

.Active_member{
    max-width: 100%;
    height: 50px;
    font-family: calibari;
    font-weight: bold;
    font-size: 20px;
    background-color: rgb(46, 4, 4);
   padding: 5px 100px 5px 100px;
    align-items: center;
    text-align: center;
    color: white;
    margin-left: 100px;
    margin-right: 100px;

}

.container{
    max-width: 100%;
    height: 70vh;
    background-color: grey ;
    display: flex;
    justify-content: center;
    align-items: center;
    padding-top: 5px;
    padding-bottom: 5px;
    padding-left: 5px;
    padding-right: 5px;
    margin-top: 10px;
    margin-bottom: 10px;
    
    
}

.box{
    width: 200px;
    height: 300px;
    background-color: rgb(46, 43, 43);
    border-radius:10px ;
    box-shadow: 2px 10px 12px rgba(0,0,0,0.5);
    display: flex;
    flex-direction: column;
    align-items: center;
    justify-content: space-between;
    box-sizing: border-box;
    margin: 20px 10px;
}
.box:hover{
    background-color:rgb(19, 16, 16)  ;
    transform-style: preserve-3d;
    transform: scale(1.02);
    transition:all ease 0.3s ;
}

.model{
    height:180px ;
    width: 180px;
    max-height: 100%;
    max-width: 100%; 
    

}

.details{
    display:flex;
    flex-direction: column;
    align-items: center;
    width: 250px;

}
.details p{
    font-family: calibari;
    font-weight: bold;
    color: rgb(87, 131, 131);
    text-align: center;
    font-size: 18px;
}

.member{
    color: rgb(167, 162, 202);
    font-weight: bold;
    letter-spacing: 2px;
    font-family: bebas kari;
    font-size: 30px;
}



.container2{
    background-color: rgb(218, 165, 165) ;
    max-width: 100%;
    height: 800px;
    

   
}
.container3{
    display: flex;
    flex-direction: column;
    width: 50%;
    float: left;
    
    

}

.new_srh_head{
    width: 100%;
    height: 100px;
    background-color: blueviolet;
}

/*newst member*/
.Newest_member{
    
    max-width: 30%;
    height: 60px;
    font-family: calibari;
    font-weight: bold;
    font-size: 20px;
    background-color: rgb(46, 4, 4);
    padding: 5px 100px 5px 100px;
    align-items: center;
    text-align: center;
    color: white;
    align-items: center;
    margin-left: 100px;
   
    
    float: left;
    flex-direction: column;
    display: flex;
   

}

  /*___search bar____ */
    
  .wapper{
    max-width: 100%;
    float: left;
    flex-direction: column;
    display: flex;
    bg
  }

.search_box{
    width: 270px;
    height: 60px;
   
   background: rgb(46, 4, 4);
   padding: 2px;
    align-items: center;
}

.fa{
    box-sizing: border-box;
padding: 10px;
width: 42.5px;
height: 42.5px;
position: absolute;
top: 0;
right: 0;
border-radius: 50%;
color: #07051a;
text-align: center;
font-size: 1.2em;
transition: all 1s;
}

form{
    position: relative;
   /* top: 50%;
    left: 50%;
    transform: translate(-50%,-50%);*/
    transition: all 1s;
    width: 50px;
    height: 50px;
    background: white;
    box-sizing: border-box;
    border-radius: 25px;
    border: 4px solid white;
    padding: 5px;
}


.input{
    position: absolute;
    top: 0;
    left: 0;
    width: 100%;;
    height: 42.5px;
    line-height: 30px;
    outline: 0;
    border: 0;
    display: none;
    font-size: 1em;
    border-radius: 20px;
    padding: 0 20px;

}
form:hover{
    width: 200px;
    cursor: pointer;
}
form:hover input{
    display: block;
}

form:hover .fa{
    background: #07051a;
    color: white;
}

/*___Search box end___*/



.tb_1{
    max-width: 100%;
    background-color: rgb(255, 255, 255);
    margin-top: 20px;
}
table_row{
  width: 300px;
}
td{
    width: 200px;
    align-items: center;
    padding-left: 20px;
    margin-right: 10px;
    background-color: ghostwhite;
    padding-top: 20px;

}
.container4{
    width: 50%;
    float: left;
    display: flex;
    flex-direction: column;
}

.container5{
    max-width: 100%;
    float: left;
    height: 100vh;
    background-color: grey ;
   margin-left: 100px;
    display: flex;
    flex-direction: column;
    align-items: left;
    padding: 0px 0px 100px 0px;
    overflow: auto;
    
    

}

.containe6{
    width: 100%;
    float: left;
    height: 100vh;
    background-color: grey ;
    margin: 20px 10px;
    display: flex;
    flex-direction: column;
    align-items: left;
    align-items:center;
    overflow: auto;
    padding: 0 100px 0 0 ;
    

}

.scrolling_box{
    width: 150px;
    height: 200px;
    background-color: rgb(43, 28, 28);
    border-radius:10px ;
    box-shadow: 2px 10px 12px rgba(70, 0, 0, 0.5);
    display: flex;
    flex-direction: column;
    align-items: center;
    justify-content: space-between;
    box-sizing: border-box;
    margin-left: 5px;
    

}

.scrolling_box:hover{
    background-color:rgb(63, 33, 40)  ;
    transform-style: preserve-3d;
    transform: scale(1.02);
    transition:all ease 0.3s ;
}

.containa_col1{
    display: flex;
    flex-direction: column;
    align-items: center;
    float: left;
    box-sizing: border-box;
   margin-left: 10px;
   margin-right: 20px;
   width: 100%;
   background-color: darkseagreen;
    

}



.model2{
    height:80px ;
    width: 100px;
    max-height: 100%;
    max-width: 100%; 
    
    
}

.details2{
    display:flex;
    flex-direction: column;
    align-items: center;
    width: 150px;

}
.details2 p{
    font-family: calibari;
    font-weight: bold;
    color: darkseagreen;
    text-align: center;
}

.member2{
    color: dimgrey;
    font-weight: bold;
    letter-spacing: 2px;
    font-family: bebas kari;
    font-size: 25px;
    
}

.Location_member{
    max-width: 100%;
    height: 50px;
    font-family: calibari;
    font-weight: bold;
    font-size: 20px;
    background-color: rgb(46, 4, 4);
    padding: 5px 100px 5px 100px;
    align-items: center;
    text-align: center;
    color: white;
    float: left;
    margin-right: 100px;
}


/* Location member map */
.map-container{
    overflow:hidden;
    padding-bottom:56.25%;
    position:relative;
    height:0;
    }
    .map-container iframe{
    left:0;
    top:0;
    height:100%;
    width:100%;
    position:absolute;
    }



  
 
    .container6{
        width: 250px;
    }