

.section_1{
    width: 100%;
    height: 85px;
    background-color: #252525;
}

.navigation_sections{
    color: #252525;
    font-weight: 600;

}


.logo_section{
    float: left;
    display: flex;
    width: 180px;
    margin-top: 5px;
    background-color: white;
    height: 79px;
}

.navigation_list{
    float: left;
    display: flex;
    width: 850px;
    font-size: 13px;
    margin-top: 5px;
}

.button_sections{
    float: left;
    display: flex;
    flex-direction: column;
    max-width: 20%;
    
}


.navigation_list{
    list-style-type: none;
    margin-top: 5px;
    
    overflow: hidden;
    
    background-color: white;
}

.set_list{
    float: left;
    
    
    
}

.set_list a {
    display: block;
    color: #252525;
    text-align: center;
    padding: 30px 30px;
    text-decoration: none;
  }

  .set_list a:hover:not(.active) {
    color: white;
    background-color: #575757 ;
    text-decoration: none;
  }
  
  .set_list a.active {
    background-color: #575757;
    color: white;
    text-decoration: none;
  }


  .set_btnsl{
    float: left;
    list-style-type: none;
    overflow: hidden;
    background-color: white;
    margin-top: 5px;
   
  }


  .sin_btn{
      width: 100px;
      background-color: #575757;
      padding-top: 5px;
      padding-bottom: 5px;
      float: left;
      text-align: center;
      font-size: 16px;
      margin-top: 20px;
      margin-left: 10px;

  }

  .log_btn{
      width: 100px;
      background-color: #575757;
      padding-top: 5px;
      padding-bottom: 5px;
      float: left;
      text-align: center;
      font-size: 16px;
      margin-top: 20px;
      margin-left: 10px;
  }

  .section_2{
      width: 100%;
      height: 50px;
      
  }

  .sr_bar{
      margin-top: 10px;
  }










  #home {
    padding: 0;
}

#home h1 {
    color: #ffffff;
}

#home h3 {
    color: #f9f9f9;
    font-size: 16px;
    font-weight: 300;
    margin: 0;
    padding: 5px 0 40px 0;
}

.searchText{
    float: left;
    width: 570px;
    min-width: 280px;
    height: 55px;
    background-color: transparent;
    border: 1px solid #fff;
    padding: 0px 15px;
    color: #fff;
    outline: none;
    font-size: 14px;
    letter-spacing: 0.5px;
}

.main-button{
    position: absolute;
    top: 0;
    right: -145px;
    outline: none;
    cursor: pointer;
    display: inline-block;
    height: 36px;
    line-height: 36px;
    padding: 0px 30px;
    border: none;
    background-color:#675a5b;
    color: #fff;
    text-transform: uppercase;
    font-size: 14px;
    font-weight: 500;
    letter-spacing: 0.5px;
    transition: all 0.5s;
    border-radius: 50px;
    margin-top:15px;
}

section {
    position: relative;
    padding: 100px 0;
}