body {
    background: lavender;
  }

  .container {
    
    margin-top: 10px;
    margin-left: 10px;
    margin-right: 10px;
    max-width: 1350px;
    height:540px;
    position: relative;
    background: #8E9AAF;
    
  }
  
  .welcome {
    background: white;
    width: 1000px;
    height: 400px;
    position: absolute;
    top: 9%;
    border-radius: 5px;
    box-shadow: 5px 5px 5px rgba(0,0,0,.1);
    margin-left: 100px;
  }

  .pinkbox {
    position: absolute;
    top: -25px;
    left: 5%;
    background: rgb(247, 149, 181);
    width: 320px;
    height: 500px;
    border-radius: 5px;
    box-shadow: 2px 0 10px rgba(0,0,0,.1);
    transition: all .5s ease-in-out;
    z-index: 2;
  }
  


  .profile-pic {
    max-width: 200px;
    max-height: 200px;
    display: block;
}

.file-upload {
    display: none;
}

.picture{
    color: rgba(255, 255, 255, 0.7);
    text-align: center;
    margin-top: 10%;

}
.circle {
    border-radius: 1000px !important;
    overflow: hidden;
    width: 200px;
    height: 200px;
    border: 8px solid rgba(255, 255, 255, 0.7);
    position: absolute;
    top: 150px;
    margin-left:  50px;
    
}
img {
    max-width: 100%;
    height: auto;
}
.p-image {
  position: absolute;
  color: #331212;
  
  transition: all .3s cubic-bezier(.175, .885, .32, 1.275);
  margin-top: 220px;
  margin-left: 60px;
  
}

.p-image:hover {
  transition: all .3s cubic-bezier(.175, .885, .32, 1.275);
}
.upload-button {
  font-size: 1.2em;
}

.upload-button:hover {
  transition: all .3s cubic-bezier(.175, .885, .32, 1.275);
  color: rgb(12, 8, 8)
}



.rightbox {
    position: absolute;
    width: 500px;
    height: 500px;
    transition: 1s all ease;
    
    
    
  
   
  }
 

  .rightbox {
      left: 500px;
      right: -2%;
     
    
    
  }

  .title {
    font-family: serif;
    color: gray;
    font-size: 1.8em;
    line-height: 1.1em;
    letter-spacing: 3px;
    text-align: center;
    font-weight: 300;
    margin-top: 5%;
    
  }

  .desc {
    margin-top: -8px;
  }
  .account {
    margin-top: 45%;
    font-size: 10px;
  }

  p {
    font-family: sans-serif;
    font-size: .7em;
    letter-spacing: 2px;
    color: gray;
    text-align: center;
  }
  
  span {
    color: pale;
  }
  
  .flower {
    position: absolute;
    width: 120px;
    height: 120px;
    top: 46%;
    left: 29%;
    opacity: .7;
  }

  .smaller {
    width: 90px;
    height: 100px;
    top: 48%;
    left: 38%;
    opacity: .9;
  }

  .details_form{

  }
  

.e_col{
  float: left;
  display: flex;
  flex-direction: column;
  width: 50%;
  /*background-color: lavenderblush;*/
  margin-top: 60px;
 
  
}

.s_col{
  float: left;
  display: flex;
  flex-direction: column;
  width: 50%;
  
  margin-top: 60px;
}








  
 .e_details,.s_details {
    padding: 12px;
    font-family: sans-serif;
    text-transform: uppercase;
    letter-spacing: 3px;
    font-size: 11px;
    border-radius: 10px;
    margin: auto;
    outline: none;
    display: block;
  }
    .e_details:hover ,.s_details:hover {
      background: pale;
      color: rgb(20, 13, 13);
      transition: background-color 1s ease-out;
    }
  
  
  .e_button,.d_button {
    margin-top: 2px;
    background: white;
    color: rgb(240, 76, 103);
    border: solid 1px pale;
    border-radius: 5px;
    width: 60px;
    margin-left: 20px;
  }

  .e_button:hover,.d_button:hover{
    background-color: lavender;
    color: lightseagreen;
    border-color: rgb(5, 88, 84);
  }

  .details{
      margin-left: 100px;
      padding-top: 20px;
      padding-left: 20px;
      width: 50%;
     height: 400px;
      
      align-items: center;
      
      box-sizing: border-box;
    
      
      

  }

  .fname,.lname,.email,.address{
      border-radius: 50px;
      

      margin-top: 10px;
      width: 300px;
      text-align: center;
      
  }


  .row{
    background-color: rgb(43, 37, 24);
    max-width: 100%;
    height: 5px;
  
    
  }

  .contain2{
    background-color: rgb(247, 247, 247);
    height: 500px;
    max-width: 100%;
    margin-left: 10px;
    margin-top: 10px;
    overflow: auto;
    

  }

  .wind1{
    background-color: white;
    margin-left: 100px;
    margin-right: 100px;
    max-width: 100%;
    height: 400px;
    overflow: auto;
    
    
  }

  .book_fav_head{
    width: 100%;
    height: 70px;
    background-color: rgb(255, 226, 226);
    padding-top: 10px;
    

  }

.book_fav{
  
  display: flex;
  flex-direction: column;
  float: left;
  width: 50%;
  height: 70px;
  
  color: rgb(41, 5, 5);
  text-align: center;
  font-size: 20px;
  font-family: 'Times New Roman', Times, serif;
  font-weight: bold;
  padding-top: 10px;
 
}

 /*___search bar____ */
    
 .wapper{
  width: 50%;
  float: left;
  flex-direction: column;
  display: flex;
  height: 70px;

  align-items: center;
  padding-left: 300px;
  
}

.search_box{
  width: 100%;
  height: 60px;
 
 background:  rgb(255, 226, 226);
 padding: 3px;
  align-items: center;
  border-bottom-right-radius: 50px;
  border-top-right-radius: 50px;
  
}

.srh{
  box-sizing: border-box;
padding: 10px;
width: 42.5px;
height: 42.5px;
position: absolute;
top: 0;
right: 0;
border-radius: 50%;
color: #07051a;
text-align: center;
font-size: 1.2em;
transition: all 1s;
}

.srh_form{
  position: relative;
 /* top: 50%;
  left: 50%;
  transform: translate(-50%,-50%);*/
  transition: all 1s;
  width: 50px;
  height: 50px;
  background: rgb(202, 132, 132);
  box-sizing: border-box;
  border-radius: 25px;
  border: 4px solid white;
  padding: 5px;
}


.input{
  position: absolute;
  top: 0;
  left: 0;
  width: 100%;;
  height: 42.5px;
  line-height: 30px;
  outline: 0;
  border: 0;
  display: none;
  font-size: 1em;
  border-radius: 20px;
  padding: 0 20px;

}
.srh_form:hover{
  width: 200px;
  cursor: pointer;
}
.srh_form:hover input{
  display: block;
}

.srh_form:hover .srh{
  background: #07051a;
  color: white;
}

/*___Search box end___*/

.new_srh_head_right{
  width: 100%;
  height: 80px;
  background-color: rgb(255, 226, 226);
  padding-top: 10px;
  padding-left: 100px;

}

.search_bar{
  padding-top: 10px;
  float: right;
  margin-right: 100px;

}

.wind2{
  background-color: white;
    margin-left: 100px;
    margin-right: 100px;
    max-width: 100%;
    height: 400px;
    overflow: auto;
    
  
}

.book_cat_head{
  width: 100%;
  height: 70px;
  background-color: rgb(255, 226, 226) ;
  padding-top: 10px;
}

.book_cat{
  display: flex;
  flex-direction: column;
  float: left;
  width: 50%;
  height: 70px;
  
  color: rgb(41, 5, 5);
  text-align: center;
  font-size: 20px;
  font-family: 'Times New Roman', Times, serif;
  font-weight: bold;
  padding-top: 10px;

}


.wapper2{
  width: 50%;
  float: left;
  flex-direction: column;
  display: flex;
  height: 70px;

  align-items: center;
  padding-left: 300px;
}

.search_box2{
  width: 100%;
  height: 60px;
 
 background:  rgb(255, 226, 226);
 padding: 3px;
  align-items: center;
  border-bottom-right-radius: 50px;
  border-top-right-radius: 50px;
  
  
}

.catergory_col{
  max-width: 100%;
}

.f_catergory_col{

  display: flex;
  flex-direction: column;
  float: left;
  max-width: 100%;
  margin-top: 20px;
  margin-left: 20px;
}
.s_catergory_col{
  display: flex;
  flex-direction: column;
  float: left;
  max-width: 100%;
  margin-top: 20px;
  margin-left: 20px;


}
.t_catergory_col{
  display: flex;
  flex-direction: column;
  float: left;
  max-width: 100%;
  margin-top: 20px;
  margin-left: 20px;
}
.fo_catergory_col{
  display: flex;
  flex-direction: column;
  float: left;
  max-width: 100%;
  margin-top: 20px;
  margin-left: 20px;
}

.cat_1{
  color: gray;
  font-size: 18px;
  font-weight: bold;
  display: flex;
  flex-direction: column;
  float: left;
  margin-left: 10px;
}

.cat_lable{
  width: 200px;
  display: flex;
  flex-direction: column;
  float: left;
  margin-left: 10px;
}

.c1{
  padding-top: 5px;
}

.btn_colaps{
  margin-top: 10px;
  margin-left: 10px;
  margin-bottom: 10px;
  padding: 10px;
  background-color: white;
  color: rgb(194, 154, 154);
  border-color: transparent;
}
.btn_colaps:hover{
  color: #8E9AAF;
  background-color: rgb(0, 0, 0);
}

.more_item_fot{
  height: 40px;
  margin-bottom: 20px;
}

.more_item{
  font-size: 12px;
  color: #8E9AAF;
  float: right;
  padding-right: 40px;
  padding-top: 10px;

}
.more_item:hover{
  color: black;
}

.wind3{
  background-color: white;
    margin-left: 100px;
    margin-right: 100px;
    max-width: 100%;
    height: 500px;
    overflow: auto;

}



/*---- grop---*/

.group_col{
  max-width: 100%;
}

.f_group_col{

  display: flex;
  flex-direction: column;
  float: left;
  max-width: 100%;
  margin-top: 20px;
  margin-left: 100px;
}
.s_group_col{
  display: flex;
  flex-direction: column;
  float: left;
  max-width: 100%;
  margin-top: 20px;
  margin-left: 100px;


}


.gp_1{
  color: gray;
  font-size: 18px;
  font-weight: bold;
  display: flex;
  flex-direction: column;
  float: left;
  margin-left: 10px;
}

.grp_lable{
  width: 200px;
  display: flex;
  flex-direction: column;
  float: left;
  margin-left: 10px;
}

.g1{
  padding-top: 5px;
}

/*----group end--*/



























  .container2 {
    margin: auto;
    width: 1000px;
    height: 550px;
    position: relative;
  }

  .fav_book {
    background: white;
    width: 1100px;
    height: 415px;
    position: absolute;
    top: 120%;
    border-radius: 5px;
    box-shadow: 5px 5px 5px rgba(0,0,0,.1);
    
  }

  .fav_book_head {
    background: #471a1a;
    width: 1100px;
    height: 100px;
    position: absolute;
    top: -20%;
    border-radius: 5px;
    box-shadow: 5px 5px 5px rgba(0,0,0,.1);
    color: rgba(255, 255, 255, 0.7);
    text-align: center;
    font-size: 20px;
    font-weight: lighter;
    font-style: italic;
   
    
  }
  
  .fav_book_head {
    left: -2%;
  }




